/* components/CustomCarousel.css */
.carousel {
    max-height: 401px; /* Thay đổi chiều cao */
    max-width: 600px; /* Thay đổi chiều rộng */
  }
  /* đổi kích thước thì đổi cả trên cả dưới anh nhá, trên là kích thước khung, dưới là kích thước ảnh */
  .carousel-item img {
    max-height: 401px; /* image không vượt quá chiều cao */
    max-width: 100%; /* image co dãn theo chiều rộng khung Carousel */
  }
.carousel .carousel-indicators button{
   display: none; 
}
/*About me css*/
.aboutMe {
    margin-left: 430px;
    position: relative;
    bottom: -20px;
    /* display: flex; */
}
.textAboutUs {
  position: relative;
  left: -13rem;
  margin-bottom: 40px;
}
/* logoHRT*/
.logoCLB {
    width: 118.5px;
    height: 109.5px;
    position: relative;
    left: -13rem;
    margin-bottom: 40px;

}
  