/* components/CustomCarousel.css */
.carousel {
    max-height: 400px; /* Thay đổi chiều cao */
    max-width: 800px; /* Thay đổi chiều rộng */
  }
  /* đổi kích thước thì đổi cả trên cả dưới anh nhá, trên là kích thước khung, dưới là kích thước ảnh */
  .carousel-item img {
    max-height: 400px; /* image không vượt quá chiều cao */
    max-width: 100%; /* image co dãn theo chiều rộng khung Carousel */
  }
/*About me css*/
.aboutMe {
    margin-left: 337px;
}
/* logoHRT*/
.logoCLB {
    width: 79px;
    height: 73px;
    position: relative;
    top: -241px;
    right: -353px;

}
  