
.content_tl{
    position: relative;
  margin-top: 50px;
}
.content_tl img{
    width: 80vw;
}

.vongDon{
    position: absolute;
    top: 6%;
    right: 18%;
    width: 50%;


}
.vongDon span{
    font-weight: bold;
    font-size: 20px;
}
.vongDon h2{
    font-size: 20px;
    font-weight: bold;
}
.vongDon p {
    text-align: start;
    font-size: 1.2vw;
    margin: 0px;
}
.banKet{
    position: absolute;
    top: 43%;
    left: 20%;
  
    height: 10%;
}
.banKet h2{
    font-size: 20px;
    font-weight: bold;
}
.banKet p {
    text-align: start;
    font-size: 1.2vw;
    margin: 0px;
}
.banKet span{
    font-weight: bold;
    font-size: 20px ;
}
.chungKet{
    position: absolute;
    bottom: 17%;
    right: 18%;
    width: 50%;
    height: 10%;
}
.chungKet h2{
    font-size: 20px;
    font-weight: bold;
}
.chungKet p {
    text-align: start;
    font-size: 1.2vw;
    margin: 0px;
}
.chungKet span{
    font-weight: bold;
    font-size: 20px;
}
@media (max-width:991px) {
    .content_tl img{
        width: 90vw;
        height: 120vw;
    }
    .vongDon{

        top: 12%;
        right: 15%;
    }
    .vongDon h2{
        font-size: 30px;
    }
    .vongDon p{
        
        font-size: 20px;
    }
    .banKet{
     
        
    }
    .banKet h2{
        font-size: 30px;
    }
    .banKet p{
        
        font-size: 20px;
    }
    .chungKet{

      right: 15%;
    }
    .chungKet h2{
        font-size: 30px;
    }
    .chungKet p{
        
        font-size: 20px;
    }
}
@media (max-width:834px) {
    .content_tl img{
        width: 90vw;
        height: 90vw;
    }
    .vongDon{
        
        top: 12%;
        right: 15%;
    }
    .vongDon h2{
        font-size: 25px;
    }
    .vongDon p{
        
        font-size: 15px;
    }
    .banKet{
        top: 40%;
        left: 17%;
        
    }
    .banKet h2{
        font-size: 25px;
    }
    .banKet p{
        
        font-size: 15px;
    }
    .chungKet{

      
    }
    .chungKet h2{
        font-size: 25px;
    }
    .chungKet p{
        
        font-size: 15px;
    }
}
@media (max-width:593px) {
    .content_tl img{
        width: 90vw;
        height: 160vw;
    }
    .vongDon{
        margin-left: 15%;
        top: 8%;
        right: 10%;
    }
    .chungKet{
        margin-left: 15%;
        bottom: 15%;
        right: 10%;
    }
    .vongDon h2, .chungKet h2{
        font-size: 20px;
    }
    .vongDon p, .chungKet p{
        
        font-size: 15px;
    }
    .banKet{
        left: 20%;
   
       
    }
    .banKet h2{
        font-size: 20px;
    }
    .banKet p{
        
        font-size: 15px;
    }
   
}