
.content_tl{
    position: relative;
  margin-top: 50px;
}
.content_tl img{
    width: 80vw;
}

.vongDon{
    position: absolute;
    top: 6%;
    right: 18%;
    width: 50%;


}
.vongDon span{
    font-weight: bold;
    font-size: 105%;
}
.vongDon h2{
    font-size: 20px;
    font-weight: bold;
}
.vongDon p {
    text-align: start;
    font-size: 1.2vw;
    margin: 0px;
}
.banKet{
    position: absolute;
    top: 43%;
    left: 20%;
    width: 50%;
  
    height: 10%;
}
.banKet h2{
    font-size: 20px;
    font-weight: bold;
}
.banKet p {
    text-align: start;
    font-size: 1.2vw;
    margin: 0px;
}
.banKet span{
    font-weight: bold;
    font-size: 20px ;
}
.chungKet{
    position: absolute;
    bottom: 17%;
    right: 18%;
    width: 50%;
    height: 10%;
}
.chungKet h2{
    font-size: 20px;
    font-weight: bold;
}
.chungKet p {
    text-align: start;
    font-size: 1.2vw;
    margin: 0px;
}
.chungKet span{
    font-weight: bold;
    font-size: 20px;
}
@media (max-width:991px) {
    .timeline{
        margin: 12vw 0;
        width: 100vw;
    }
    .content_tl img{
        width: 100vw;
        height: 120vw;
        
    }
    .vongDon{
        width: 60%;
        top: 6%;
        right: 15%;
    }
    .vongDon h2{
        font-size: 30px;
    }
    .vongDon p{
        
        font-size: 20px;
    }
    .banKet{
        width: 60%;
        top: 40%;
        
    }
    .banKet h2{
        font-size: 30px;
    }
    .banKet p{
        
        font-size: 20px;
    }
    .chungKet{
        width: 60%;
      right: 15%;
      
    }
    .chungKet h2{
        font-size: 30px;
    }
    .chungKet p{
        
        font-size: 20px;
    }
}
@media (max-width:834px) {
    
    .content_tl img{
        width: 100vw;
        height: 100vw;
    }
    .vongDon{
        
        top: 7%;
        right: 15%;
    }
    .vongDon h2{
        font-size: 25px;
    }
    .vongDon p{
        
        font-size: 16px;
    }
    .banKet{
        top: 42%;
        left: 16%;
        width: 60%;
        
    }
    .banKet h2{
        font-size: 25px;
    }
    .banKet p{
        
        font-size: 16px;
    }
    .chungKet{

      bottom: 20%;
    }
    .chungKet h2{
        font-size: 25px;
    }
    .chungKet p{
        
        font-size: 16px;
    }
    .timeline span{
        font-size: 120%;
    }
}
@media (max-width:757px) {
    .content_tl img{
        width: 100vw;
        height: 130vw;
    }
    .vongDon{
        margin-left: 15%;
        top: 8%;
        right: 15%;
        width: 68%;
    }
  
    .banKet{
        left: 17%;
        width: 68%;
   
       
    }
    .banKet h2{
        font-size: 130%;

    }
    .banKet p{
        
        font-size: 90%;
    }
    .chungKet{
        margin-left: 15%;
        bottom: 19%;
        right: 15%;
        width: 68%;

    }
    .vongDon h2, .chungKet h2{
        font-size: 130%;
    }
    .vongDon p, .chungKet p{
        
        font-size: 90%;

    }
   
}
@media (max-width:573px) {
    .content_tl img{
        width: 100vw;
        height: 150vw;
    }
    .vongDon{
       
        top: 5%;
        right: 15%;
        width: 68%;
        font-size: 90%;
    }
    .banKet{
        font-size: 90%;
    }
    .chungKet{
        font-size: 90%;
    }
   
}

