/************ Custom Font ************/
@font-face {
	font-family: Centra;

	font-weight: 700;
}
@font-face {
	font-family: Centra;
	
	font-weight: 500;
}
@font-face {
	font-family: Centra;
	
	font-weight: 400;
}
/* Default css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: normal;
}

p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}
.container{
  padding: 0px;
}


@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}

/************ Navbar Css ************/
#logo_vytech{
  width: 150%;
}
nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
 
  top: 0;
  z-index: 9999;
  transition:  0.32s ease-in-out;
  background-color: #219ebc;
  
}
nav.navbar.scrolled {
  padding:  0;
 
}

nav.navbar a.navbar-brand {
    width: 9%;
}

/* logo queries */
@media screen and (max-width: 1024px) {
  nav.navbar a.navbar-brand {
    width: 15%;
  }
  .popup-content {
    
    width: 80%;
    
  }
}

@media screen and (max-width: 600px) {
  nav.navbar a.navbar-brand {
    width: 25%;
  }
}

nav.navbar .navbar-nav .nav-link.navbar-link {
  font-weight: 400;
  color: #000 !important;
  letter-spacing: 0.8px;
  padding: 0 25px;
  font-size: 18px;
  opacity: 0.75;
}
nav.navbar .navbar-nav .nav-link.navbar-link.scrolled{
  color:white;
}
nav.navbar .navbar-nav a.nav-link.navbar-link:hover,
nav.navbar .navbar-nav a.nav-link.navbar-link.active {
    opacity: 1;
    font-weight: 600;
}
@media (max-width:991px) {
	nav.navbar .navbar-nav .nav-link.navbar-link{
    padding-top: 10px ;
  }
}
span.navbar-text {
    display: flex;
    align-items: center;
}
.logo_hr{
  width: 3%;
 position: absolute;
  right: 5vw;
}
.navbar-collapse{
  margin-left: 10%;
  
}
/* @media screen and (max-width: 767px) {
  .navbar-collapse.collapse.show{
    background-color: #fff;
    width: 100vw;
    margin: 0px;
  
  }
  .navbar-collapse.collapse.show a{
    height: 30px; 
   }
} */
@media screen and (max-width: 1025px) {
  .logo_hr{
    display: none;
  }
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
	position: relative;
	background-color: transparent;
	transition: 0.3s ease-in-out;
}
 .logo{
  width: 6%;
}
.ms-auto{
  width: 60%;
 
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212;
}
.navbar-text button:hover::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
} 
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
	outline: none;
    box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
	border-bottom: 2px solid #fff;
}


nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
	width: 24px;
	position: absolute;
	height: 2px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
	transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
	top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
	background-color: #fff;
	height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}







/* default when making */




.App {
  text-align: center;
  
  background-image: url(./assets/thele.jpg);
  background-size: cover;
 
  background-attachment: fixed;
  background-position: center;
  line-height: 1.7;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* bgr video  aka banner*/
.LinkDangKy a {
  color: white;
  text-decoration: none;

  
}
.LinkDangKy {
  display: flex;
 justify-content: space-between;
  align-items: center;
 width: 20vw;
}

.LinkDangKy a button{
  border: 1px solid  #fff;
  color: white;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  padding: 0 20px;
  border-radius: 20px;

  
}
@media (max-width:1287px) {
  .LinkDangKy{
    width: 30vw;

  }
}
@media (max-width:864px) {
  .LinkDangKy{
    width: 45vw;

  }
}
@media (max-width:615px) {
  .LinkDangKy{
    width: 54vw;

  }
  .App {
  
    
    background-image: url(./assets/thele_2.jpg);
  }
}
@media (max-width:472px) {
  .LinkDangKy{
    width: 70vw;

  }
}
@media (max-width:343px) {
  .LinkDangKy{
    width: 80vw;

  }
}
.main{

  width: 100%;
  height: 100vh;
}
.main video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .content{
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;

}
.main .content img{
  width: 35%;
}
@media (max-width:835px) {
  .main .content img{
    width: 50%;
  }
}

.content p{
  margin: 5vh 10vw 10vh 10vw;
  font-size: 150%;
  font-weight: 600;

}
.content button{
  font-size: 130%;
  color: white;
}
.content button:hover{
  background:#032e4f ;
}
.main2{
  position: relative;
}
.main2 .content{
  margin-top: 10vh;
  width: 100vw;
  
}
.main2 .content h1{
  color: #91FFFE;
  font-size: 40px;

}
.main2 .content p{
  font-size: 20px;
  margin: 15px 0 10px 0;
}
.main2 .content ul{
  
  text-align: start;
  font-size: 20px;
  font-weight: 500;
  line-height: normal;

}
.main2 .content ul li{

 margin: 4vh 35%;
}
.content #dangky button{
  border: 1px solid  #fff;
  color: white;
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border-radius: 20px;
}
.main2 .content button{
  border: 1px solid  #fff;
  color: white;
  width: 9%;
  height: 40px;
  margin: 20px;
  border-radius: 20px;

  
}

.main2 .content a{
 text-decoration: none;
 color: white;
}
@media (max-width:1076px) {
  
  .main2 .content button{
   width: 15%;
  
  }
}
@media (max-width:835px) {
  .main2 .content ul li{
    font-size: 18px;
    margin: 4vh 20%;
   }
   .main2 .content h1{
    color: #91FFFE;
    font-size: 30px;
  
  }
  .main2 .content p{
    font-size: 20px;
    
  }
 
  .main2 .content button{
   width: 22%;
 
  }
  
}
@media (max-width:437px) {
  
  .main2 .content button{
   width: 30%;
  
  }
}
/* timeline */
.timeline{
  margin: 12vh 0;
 }
 .timeline img{

  width: 50vw;
  
}

.timeline p{
  margin: 5vh;
}
.timeline h1{
  color: #91FFFE;
  font-size: 40px;
}
@media (max-width: 835px){

  .timeline h1{
    font-size: 30px;
   }

}
/* Giai thuong */
.achieve{
  display: flex;

  margin-top: 5vh;
  margin-left: 25%;
  width: 50%;
  align-items: center;
}
.achieve p{

font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-align: start;
}
.achieve img{
  width: 45px;
 

}
.achieve span{
  font-weight: bold;
  color: #3DDEEE;
}
@media (max-width: 835px){
  
  .achieve{
    display: flex;
    justify-content: center;
    margin : 3vh 10%;
    width: 80%;
  }
  .achieve p{
    font-size: 15px;
   
   }

}
/* About me  */
.aboutMe{
  
  
}
.aboutMe .textAboutUs{
  color: #91FFFE;
  
}
.aboutMe #logo{
  width: 10vw;
  margin: 5vh;
}
.aboutMe #slide1{
  width: 50vw;
  margin: 5vh;

}
.aboutMe p{
  color: #3AA4C9;
  margin: 0 30vw;
}
@media (max-width: 835px){
 
  .timeline h1{
    font-size: 30px;
   }

}

/* ----------Footer css------------------- */
.footer {
  position: relative;
  margin-top: 15vh;
  background-color: #002958;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.footer img {
  width: 22%;
  margin-right: 4%;
}
.footer #uet {
  font-weight: 400;
  font-size: 15px;
  color: #B8B8B8;
  letter-spacing: 0.5px;
  margin-top: 30px;
  position: absolute;
  bottom: 1vh;
  right: 5%;
}
.footer #contact {
  text-decoration: none;
  color: white;
}
.footer #contact:hover {
  text-decoration: none;
  color: #219ebc;
}
@media (max-width: 768px){
  
.footer #contact {
    display: none;
}
}
.footer #contact{
  position: absolute;
  right: 20%;
  bottom: 50%;
  transform: translateY(50%);
  font-size: 23px;
}
.social-icon {
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
 
}
.social-icon a {
  width: 42px;
  height: 42px;
 color: #fff;
  
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-bottom: 5vh;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
  content: "";
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
 

}
.social-icon a:hover {
  color: white;
  cursor: pointer;
}
.social-icon a img {
width: 40%;
z-index: 1;
transition: 0.3s ease-in-out;


}
.social-icon a:hover img {

filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
}
.social-icon a:hover span {

  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
  }
  .line{
    display: flex;
    align-items: center;
  }
 
.line #ten{

   margin-left: 1.5vw;
   margin-bottom: 5vh;
}
@media (max-width: 500px) {
  .footer img {
    width: 35%;
    margin: 5% 0;
  }
}
/* ------ alert css --------*/
.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  color:black;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 30%;
  padding: 20px 10px 20px 10px;
}

.popup-header {
  display: flex;
  flex-direction: column;

  align-items: center;

}
.popup-header button{
  margin-top: 30px;
  background-color: #002958;
  border-radius: 10px;
  padding: 1px 10px;
}
.popup-header .header{
  display: flex;
  align-items: center;
  justify-content: center;  
}
.popup-header .header span{
  font-size: 25px ;
  margin-right: 10%;
  color: #002958;
}

.popup-close {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #ccc;
}
@media screen and (max-width: 1024px) {

  .popup-content {
    
    width: 40%;
    
  }
}
@media screen and (max-width: 757px) {

  .popup-content {
    
    width: 55%;
    
  }
}
@media screen and (max-width: 528px) {

  .popup-content {
    
    width: 70%;
    
  }
}
@media screen and (max-width: 423px) {

  .popup-content {
    
    width: 80%;
    
  }
}
/* ---------------------thele----------------- */
#thele .main2 .content h4{
  color:#3DDEEE;

  font-weight: bold;
}
#thele .main2 .content h1{
  margin-bottom: 30px;
}
